### --- SEGURIDAD Y CONFIGURACIÓN (CRÍTICO) --- ###
target/

# Ignorar persistencia con contraseñas
src/main/resources/META-INF/persistence.xml

# Ignorar archivos de variables de entorno
.env

### --- IDEs (Eclipse, IntelliJ, VSCode) --- ###
# Eclipse
.settings/
.project
.classpath
.factorypath

# IntelliJ
.idea/
*.iml
*.iws
out/

# VSCode
.vscode/
