### --- SEGURIDAD Y CONFIGURACIÓN (CRÍTICO) --- ###
# Ignorar persistencia con contraseñas
src/main/resources/META-INF/persistence.xml

# Ignorar archivos de variables de entorno
.env

# Ignorar el archivo de datos si es muy pesado
src/main/resources/json/MOCK_DATA.json

### --- IDEs (Eclipse, IntelliJ, VSCode) --- ###
# Eclipse
.settings/
.project
.classpath
.factorypath

# IntelliJ
.idea/
*.iml
*.iws
out/

# VSCode
.vscode/
