<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="contenedor">
      <p>
      La <span class="tooltip-palabra">
        programación
        <span class="tooltip-texto">
          Proceso de escribir instrucciones que una computadora puede ejecutar.
        </span>
      </span>
      es una habilidad fundamental en el mundo digital actual.
      </p>
    </div>
  </body>
</html>
