<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo de grid</title>
    <style>
      .container {
        width: 80%;
        height: 500px;
        margin: auto;
        margin-top: 100px;
        background-color: orange;
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
        justify-content: center;
        align-content: center;
      }

      .item {
        background-color: blue;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
  </body>
</html>
