<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../static/selectores_y_combinadores/style1.css"/>
    <title>Selectores</title>
  </head>

  <body>
    <main>
      <p>😸 Haz click aquí para ver más fotos de <a href="#">gatetes</a>.</p>
      <img src="https://static.wikia.nocookie.net/garfield/images/5/5e/GarfieldNoBackground.png/revision/latest?cb=20250828223330" alt="Garfild"/>

      <section>
        <h3>😻 Likes gatunos:</h3>
        <ul>
          <li class="like">Hierba gatuna</li>
          <li class="like">Punteros laser</li>
          <li class="like">Lasaña</li>
        </ul>

        <h3>😾 Top 3 dislikes gatunos:</h3>
        <ol>
          <li>Agua</li>
          <li class="thunder">Tormentas</li>
          <li>Otros gatos</li>
        </ol>
      </section>
    </main>
  </body>

</html>
